1. What are data structures, and why are they important?
Answer:
Data structures are specialized formats for organizing, processing, retrieving, and storing data efficiently. They are crucial for:

Efficient data access and modification

Memory management

Enabling algorithms to perform effectively

Example in Python:


# List - stores a collection of items
fruits = ['apple', 'banana', 'mango']
2. Explain the difference between mutable and immutable data types with examples.
Answer:

Mutable: Can be changed after creation (e.g., list, dict, set)

Immutable: Cannot be changed once created (e.g., int, str, tuple)

Examples:

# Mutable
my_list = [1, 2, 3]
my_list.append(4)

# Immutable
my_str = "hello"
# my_str[0] = "H"  # This will cause an error
3. What are the main differences between lists and tuples in Python?
Answer:

Feature	List	Tuple
Mutability	Mutable	Immutable
Syntax	[]	()
Performance	Slower	Faster
Use case	Changing data	Fixed data
python
Copy
Edit
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)
Would you like me to continue with the rest of the questions (4–20) in the same style?

4. Describe how dictionaries store data.
Answer:
Dictionaries store data as key-value pairs. Keys must be unique and immutable, and values can be any data type.

student = {"name": "Alice", "age": 22, "course": "Python"}
print(student["name"])  # Output: Alice
5. Why might you use a set instead of a list in Python?
Answer:

To eliminate duplicates

For faster membership checks

Sets are unordered and do not allow duplicates

my_list = [1, 2, 2, 3]
my_set = set(my_list)  # Output: {1, 2, 3}
6. What is a string in Python, and how is it different from a list?
Answer:

A string is a sequence of characters.

It is immutable, unlike lists which are mutable.

String elements must be characters; lists can hold any data type.

my_string = "hello"
my_list = ['h', 'e', 'l', 'l', 'o']
7. How do tuples ensure data integrity in Python?
Answer: Since tuples are immutable, once created, their data cannot be changed. This ensures the integrity of the data across the program.

config = ("localhost", 8080)
# config[1] = 9090  # Error! Tuple cannot be changed
8. What is a hash table, and how does it relate to dictionaries in Python?
Answer: A hash table maps keys to values using a hash function. Python's dictionaries are implemented as hash tables.

my_dict = {"name": "shakil", "age": 23}
# 'name' is hashed internally to find the memory address
9. Can lists contain different data types in Python?
Answer:
Yes, lists can store multiple data types.

mixed_list = [1, "apple", 3.14, True]
10. Explain why strings are immutable in Python.
Answer: Strings are immutable to:

Enhance performance

Enable string interning (memory optimization)

Make them thread-safe

s = "hello"
# s[0] = 'H'  # This will raise an error
11. What advantages do dictionaries offer over lists for certain tasks?
Answer:

Faster lookup with keys (O(1) time complexity)

Better for structured data

More readable and logical when data is named

users = {"user1": "Alice", "user2": "Bob"}
12. Describe a scenario where using a tuple would be preferable over a list.
Answer:
When you want to store constant values that shouldn't change, like:

# GPS coordinates
location = (40.7128, -74.0060)
13. How do sets handle duplicate values in Python?
Answer: Sets automatically remove duplicate values.

my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}
14. How does the “in” keyword work differently for lists and dictionaries?
Answer:

In lists, it checks for values

In dictionaries, it checks for keys

print(2 in [1, 2, 3])           # True
print("name" in {"name": "Eve"}) # True
15. Can you modify the elements of a tuple? Explain why or why not.
Answer:
No, tuples are immutable. You cannot change, add, or remove elements once a tuple is created.

t = (1, 2, 3)
# t[0] = 5  # Error
16. What is a nested dictionary, and give an example of its use case?
Answer:
A dictionary inside another dictionary. Useful for representing structured data like JSON.

students = {
    "Alice": {"age": 23, "grade": "A"},
    "Bob": {"age": 22, "grade": "B"}
}
17. Describe the time complexity of accessing elements in a dictionary.
Answer:
Time complexity is O(1) (constant time), due to hash-based indexing.

my_dict = {"a": 1}
print(my_dict["a"])  # Fast lookup
18. In what situations are lists preferred over dictionaries?
Answer:

When order matters

When you need to iterate over elements

When there's no need for key-value pairs

colors = ["red", "blue", "green"]
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Answer: Dictionaries were unordered in versions < Python 3.7. Since Python 3.7+, they maintain insertion order, but conceptually, they are used for fast lookups, not for order.

# In modern Python:
my_dict = {"a": 1, "b": 2}  # Maintains order
20. Explain the difference between a list and a dictionary in terms of data retrieval.
Answer:

Feature	List	Dictionary
Access by	Index	Key
Time	O(1) if index	O(1) with hash
Use Case	Ordered data	Key-based access

my_list = ["apple", "banana"]
my_dict = {"fruit1": "apple", "fruit2": "banana"}

In [1]:
#PRACTICAL QUSTIONS

In [2]:
#1. Write a code to create a string with your name and print it.
my_name = ("shakil")
print(my_name)

shakil

In [3]:
#2. Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [4]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
text = "Python Programming"
print(text[:3])

Pyt

In [5]:
#4. Write a code to convert the string "hello" to uppercase.
word = "hello"
print(word.upper())

HELLO

In [7]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [8]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [9]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [10]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [11]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [12]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [13]:
#11. Create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [14]:
#12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [15]:
#13. Find the minimum number in the tuple (10, 20, 5).
my_tuple = (10, 20, 5)
print(min(my_tuple))

5

In [16]:
#14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')
print(my_tuple.index('cat'))

1

In [21]:
#15. Create a tuple containing three fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'kiwi')
print('kiwi' in fruits)

True

In [22]:
#16. Create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [23]:
#17. Clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [25]:
#18. Remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [27]:
#19. Find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [28]:
#20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

In [30]:
#21. Create a dictionary with keys "name", "age", and "city" and print it.
person = {"name": "shakil", "age": 23, "city": "coochbehar"}
print(person)

{'name': 'shakil', 'age': 23, 'city': 'coochbehar'}

In [31]:
#22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [32]:
#23. Access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
data = {'name': 'Alice', 'age': 30}
print(data['name'])

Alice

In [33]:
#24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [34]:
#25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
data = {'name': 'Alice', 'city': 'Paris'}
print("city" in data)

True

In [35]:
#26. Create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

In [36]:
#27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[18, 27, 50, 53, 61]

In [37]:
#28. Create a list with strings and print the element at the third index.
words = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(words[3])

date

In [38]:
#29. Combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [39]:
#30. Convert a list of strings into a set.
my_list = ['apple', 'banana', 'apple', 'cherry']
my_set = set(my_list)
print(my_set)

{'cherry', 'apple', 'banana'}